.vpback {
  background-image: url(https://i.pinimg.com/originals/6f/a4/be/6fa4be983556dd85f688d25ba7412184.gif);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.fondiwis {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgb(0 0 0 / 70%);
  z-index: 0;
}

.Container-intro {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  column-gap: 5%;
  position: relative;
}

section.presentacion {
  width: 60%;
}

section.formulario {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

section.presentacion img {
  width: 60%;
}

section.presentacion p {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.blink_me {
  display: inline-block;
  vertical-align: bottom;
  animation: blinker 4s linear infinite;
  animation-delay: -2s;
}

.blink_me span {
  float: left;
  overflow: hidden;
  animation: hideShow 24s linear infinite;
}

.blink_me span:nth-child(1) {
  animation-delay: -4s;
}
.blink_me span:nth-child(2) {
  animation-delay: -8s;
}
.blink_me span:nth-child(3) {
  animation-delay: -12s;
}
.blink_me span:nth-child(4) {
  animation-delay: -16s;
}
.blink_me span:nth-child(5) {
  animation-delay: -20s;
}
.blink_me span:nth-child(6) {
  animation-delay: -24s;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideShow {
  0%,
  16.6%,
  33.33%,
  100% {
    width: 0;
  }
  16.66%,
  33.3% {
    width: auto;
  }
}

.in-sesion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

hr.hrdiv {
  height: 5px;
  background-color: #ffffff8f;
  box-shadow: 2px 2px 10px black;
  border-radius: 25px;
  margin: 0;
}

.registrar {
  text-align: center;
}

.registrar button {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  background: transparent;
  border: none;
}

.registrar button:hover {
  color: #ffffff;
}

.registrar button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 25px;
  background-color: #0476d9;
  bottom: -8px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.registrar button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: #ffffff;
}

section.formulario h2 {
  color: white;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .vpback {
    background-size: 200vw 100vh;
  }

  .Container-intro {
    width: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  section.formulario,
  section.presentacion {
    width: 100%;
  }
  section.presentacion {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    row-gap: 20px;
  }
}
